@use "./variables";
@use './mixins';
@use "sass:color";
@import './responsive';

body {
    font-family: "Roboto", sans-serif;
    color: variables.$text-color-secondary;
    background: variables.$smoky-white;
    font-size: 14px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    color: color.adjust(variables.$theme-color, $lightness: -15%);

    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: color.adjust(variables.$theme-color, $lightness: -30%);
    }

    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: variables.$theme-color;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    @include mixins.box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
    grid-column: span 3;
    order: variables.$sidebar-order;
    background: variables.$theme-color;
    color: #fff;

    a {
        color: #fff;
    }

    .profile-container {
        padding: 80px 30px;
        background: color.adjust(variables.$theme-color, $lightness: -10%);
        // background: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;

        .name {
            font-size: 32px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 10px;
        }

        .tagline {
            color: variables.$dim-white;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
    }

    .contact-list {
        .fab {
            margin-right: 5px;
            font-size: 18px;
            vertical-align: middle;
        }

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .general-container {
        padding: 30px;

        .general-container-title {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    .certificates-container,
    .education-container {
        .item {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .education-container {
        .degree {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 5px;
        }

        .details {
            color: variables.$dim-white;
            font-weight: 500;
            margin: 0;
            white-space: pre-line;
        }

        .university,
        .time {
            color: variables.$dim-white;
            font-weight: 500;
            margin-bottom: 0;
        }
    }

    .languages-container {
        .lang-desc {
            color: variables.$dim-white;
        }

        .languages-list {
            margin-bottom: 0;

            li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.main-wrapper {
    grid-column: span 7;
    order: variables.$resume-order;
    background: #fff;
    padding: 60px;

    .section {
        margin-bottom: 60px;

        .section-title {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;
            color: color.adjust(variables.$theme-color, $lightness: -15%);
            position: relative;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .experiences-section,
    .educations-section {
        .item {
            margin-bottom: 30px;
        }
    }

    .educations-section {
        .details {
            white-space: pre-line;
        }
    }

    .certificates-section,
    .languages-section {
        .item {
            margin-bottom: 15px;
        }
    }

    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
        display: flex;
    }

    .job-title,
    .degree,
    .cert-title {
        color: variables.$text-color;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        flex: 75%;
    }

    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: variables.$text-grey;
        flex: 25%;
    }

    .company,
    .university {
        margin-bottom: 10px;
        color: variables.$text-grey;
    }
}


.skillset {
    .item {
        margin-bottom: 15px;
        overflow: hidden;
    }

    .level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .level-bar {
        height: 12px;
        background: variables.$smoky-white;
    }

    .level-bar-inner {
        height: 12px;
        background: color.adjust(variables.$theme-color, $lightness: 15%);
    }
}